.ai-stats {
  position: fixed;
  left: 0;
  top: 0;
  color: #555;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  width: 250px;

  .data {
    line-height: 1;
    div {
      & + div {
        border-top: 1px solid #EEE;
        color: #CCC;
      }
    }
  }

  .move,
  .action,
  .reward,
  .avg-reward {
    float: left;
    width: 25%;
  }

}
