.ai-stats {
  color: #555;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  overflow-y: scroll;
  max-height: 100%;
}
.ai-stats .description {
  text-align: left;
}
.ai-stats .data {
  line-height: 1;
}
.ai-stats .data div + div {
  border-top: 1px solid #EEE;
  color: #CCC;
}
.ai-stats .total-moves,
.ai-stats .largest-tile,
.ai-stats .won,
.ai-stats .final-score {
  width: 25%;
  float: left;
}
.ai-stats .move,
.ai-stats .action,
.ai-stats .reward,
.ai-stats .avg-reward {
  float: left;
  width: 25%;
}
